@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #121212;
}

body::before {
    content: '';
    position: fixed;
    inset: 0;
    z-index: -1;
    background-image: linear-gradient(90deg, #f8efff, #e8ffff, #e8ffff, #928999, #928999, #829999);
    background-size: 300% 100%;
    background-position: 0 100%;
    transition: background-position 380ms ease;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #fafbfc;
    }

    body::before {
        background-position: 100% 0;
    }
}
