@import 'tailwindcss';

:root {
    color-scheme: dark light;
    --background: #fff;
    --foreground: #333;
}


@media (prefers-color-scheme: dark) {
    :root {
        --background: #191919;
        --foreground: #fcfcfc;
    }
}

html {
    font-size: 15px;
    line-height: 1.5;
}

body {
    color: var(--foreground);
    background-color: var(--background);
    font-family: Consolas, 'Microsoft YaHei', 'PingFang SC', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
}

a:hover {
    text-decoration: underline;
}

.main {
    @apply relative m-auto max-w-6xl p-4;
    min-height: calc(100vh - 4rem * 2);
}

.main .profile {
    @apply text-center;
    min-height: calc(100vh - 4rem * 2.5);
}
